extends layout

block content


  #left-column.column
    h2 Elige tu héroe
    ul#heroes
        
        li(class='hero-name')
        a(href='/pagina1')'BATMAN' 
        li(class='hero-name')
        a(href='/pagina2')'SUPERMAN'
        li(class='hero-name')
        a(href='/pagina3')'HULK '
        li(class='hero-name')
        a(href='/pagina4')'SPIDERMAN'
  #right-column.column
    h2 SUPER HEROES
    <img src="images/superheroes.jpg" >
    