doctype 5
html
  head
    title Super heroes
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        h1 Super Heroe
     
        block content
      #footer
       COPYRIGHT 2013