extends layout

block content


  #left-column.column
    h2 Elige tu héroe
    ul#heroes
        li(class='hero-name')
        a(href='/')'Inicio'
        li(class='hero-name')
        a(href='/pagina1')'BATMAN' 
        li(class='hero-name')
        a(href='/pagina2')'SUPERMAN'
        li(class='hero-name')
        a(href='/pagina3')'HULK '
        li(class='hero-name')
        a(href='/pagina4')'SPIDERMAN'

  #right-column.column
     
    h2 Descripcion
    h4 Batman (conocido inicialmente como The Bat-Man) es un personaje creado por los estadounidenses Bob Kane y Bill Finger (aunque sólo se reconoce la autoría al primero) y propiedad de DC Comics. Su primera aparición fue en la historia titulada El caso del sindicato químico de la revista Detective Comics n.º 27, lanzada por la editorial National Publications en mayo de 1939.
     p Desde entonces, la identidad secreta de Batman ha sido siempre Bruce Wayne (renombrado como Bruno Díaz en algunos países de habla hispana2 3 4 ) un empresario multimillonario y filántropo. Después de ser testigo en su niñez de la muerte de sus padres, jura venganza y, tras someterse a un riguroso entrenamiento físico y mental, se dedica a combatir la delincuencia en Gotham City. En todas sus apariciones como Batman, Wayne se disfraza de murciélago. A diferencia de otros superhéroes, no posee superpoderes sino que utiliza el intelecto junto a aplicaciones científicas y tecnológicas para crear armas y herramientas con las cuales atrapar a los criminales. Reside en la mansión Wayne (en cuyos subterráneos se encuentra la Batcueva o Baticueva), y es asistido regularmente por aliados y empleados, entre los que destacan Robin, Batgirl, Nightwing, el oficial James Gordon y el mayordomo Alfred Pennyworth.
    #right-column.column
     <img src="images/batman.jpg"> <img src="images/batman2.jpg" width="220" height="293"> <img src="images/batman1.jpg" width="220" height="293">
    
    
    