extends layout

block content


  #left-column.column
    h2 Elige tu héroe
    ul#heroes
        li(class='hero-name')
        a(href='/')'Inicio'
        li(class='hero-name')
        a(href='/pagina1')'BATMAN' 
        li(class='hero-name')
        a(href='/pagina2')'SUPERMAN'
        li(class='hero-name')
        a(href='/pagina3')'HULK '
        li(class='hero-name')
        a(href='/pagina4')'SPIDERMAN'

  #right-column.column
     
    h2 Descripcion
    h4 Spider-Man (llamado el Hombre Araña en la mayoría de las traducciones al español) es un personaje ficticio y un superhéroe que aparece en los libros e historietas publicados por Marvel Comics. Fue creado por Stan Lee y Steve Ditko, su primer aparición fue en Amazing Fantasy nº15 durante agosto de 1962. Lee y Ditko lo concibieron como un huérfano críado por su tío Ben y su tía May, y cuando era adolescente, tenía que lidiar con todo lo que un joven de su edad debía hacer y además debía enfrentarse a los criminales con un disfraz rojo y azul. Entre sus superpoderes se encuentra una gran agilidad y flexiblidad, así como la capacidad de aferrarse a la mayoría de superficies, y además logró crear unos lanza telarañas, y por último tiene su «sentido arácnido» el cual le avisa cuando esta en peligro..
    
    #right-column.column
     <img src="images/ss1.jpg" width="220" height="293"> <img src="images/ss2.jpg" width="220" height="293"> <img src="images/ss3.jpg" width="220" height="293">
    