extends layout

block content


  #left-column.column
    h2 Elige tu héroe
    ul#heroes
        li(class='hero-name')
        a(href='/')'Inicio'
        li(class='hero-name')
        a(href='/pagina1')'BATMAN' 
        li(class='hero-name')
        a(href='/pagina2')'SUPERMAN'
        li(class='hero-name')
        a(href='/pagina3')'HULK '
        li(class='hero-name')
        a(href='/pagina4')'SPIDERMAN'

  #right-column.column
     
    h2 Descripcion
    h4 The Hulk is a fictional character, a superhero who appears in comic books published by Marvel Comics. Created by Stan Lee and Jack Kirby, the character first appeared in The Incredible Hulk #1 (cover dated May 1962). He is a gigantic, green, irradiated, mutated humanoid monster with incredible strength and an inability to control his rage. The Hulk is sometimes characterized as naive and childlike, while at other times hyper-aggressive and brutal, or cunning, brilliant, and scheming. He is often portrayed as an antihero. The Hulk is cast as the emotional and impulsive alter ego of the withdrawn and reserved physicist Dr. Robert Bruce Banner. Banner first transforms into the Hulk shortly after he is accidentally exposed to the blast of a test detonation of a gamma bomb he invented. Subsequently, Banner will involuntarily transform into the Hulk whenever he gets too angry or if his life is in danger, leading to extreme complications in Banner's life. Lee said the Hulk's creation was inspired by a combination of Dr. Jekyll and Mr. Hyde and Frankenstein.
     
    #right-column.column
     <img src="images/h1.jpg" width="220" height="293"> <img src="images/h2.jpg" width="220" height="293"> <img src="images/h3.jpg" width="220" height="293">
    
    
    